@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*font-family: 'Poppins', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
main {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
a:link,
li {
  text-decoration: none;
  color: rgb(0, 99, 12);
  list-style: none;
}
h1 {
  font-size: 30px;
}
p {
  color: #98908b;
  font-weight: 700;
  line-height: 30px;
}
#head {
  color: white;
  height: fit-content;
  width: 100%;
  background-image: url(../images/1_background/Bar\ dome.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 1s;
  margin-bottom: 100px;
}
header {
  background: linear-gradient(white 40%, transparent);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.hide {
  width: 100%;
  display: none;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(white 55%, transparent);
  transform: translateY(-127px);
  align-items: center;
  z-index: 4;
}

.hide h2 {
  visibility: hidden;
}
#H-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
#H-start h2 {
  font-size: 15px;
  color: rgb(0, 99, 12);
}
.H-middle {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hoverMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 99, 12);
  visibility: hidden;
}
.H-menu-drop:hover .hoverMenu {
  visibility: visible;
}
.hoverMenu a {
  color: white;
  font-size: 14px;
  padding: 10px 10px;
  border-bottom: 0.2px solid rgb(143, 143, 143);
}
.hoverMenu a:hover{
  background-color: rgb(83, 125, 66);
}
.H-end {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
}
.H-end i {
  margin-left: 30px;
}
.fa-bars {
  display: none;
  color: white;
}

#head-bottom {
  display: flex;
  width: 100%;
  padding: 220px 0;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#head-bottom h1 {
  font-size: 6vw;
  text-transform: uppercase;
}
.slider-div-white {
  margin: 10px 0;
}
#head-bottom p {
  font-size: 1.4vw;
  color: white;
  width: 87%;
}
#main-container {
  margin: 50px;
}

#SECT-1,
#mission {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}
.img-box-1 {
  height: 650px;
  width: 100%;
  background-image: url(../images/3_holders/PARKING\ LOT.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#about-us {
  height: 650px;
  background-color: #e0dfde;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px;
}
#about-us h1 {
  text-transform: uppercase;
}
.slider-div-black {
  margin: 20px 0;
}

#SECT-2 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#SECT-3 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#SECT-3 h1 {
  margin-bottom: 40px;
}

#img-gallery {
  width: 100%;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.gallery-cell {
  display: flex;
  flex-direction: column;
  position: relative;
}
.gallery-item {
  width: 20vw;
  height: 250px;
  padding: 0px;
  filter: brightness(70%);
}
.gallery-item:hover {
  filter: brightness(100%);
  transition: filter 0.3s linear;
}
.item-info {
  display: block;
  color: white;
  position: absolute;
  top: 70%;
  left: 3%;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px;
}
footer h3 {
  color: greenyellow;
  font-size: 1.5vw;
}
footer p {
  color: rgb(157, 154, 154);
  font-size: 17px;
}
#footer-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
#footer-2 {
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#footer-2 h1 {
  font-size: 17px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
#footer-contact {
  margin-right: 50px;
}
details p {
  color: white;
  margin-top: 10px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 15px;
  border-style: hidden hidden hidden double;
  position: absolute;
}

/*  */
#mission {
  display: grid;
  grid-template-columns: 50% 50%;
}
#mission-side {
  color: white;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 29, 29);
}
.img-box-2 {
  height: 700px;
  width: 100%;
  background-image: url(../images/3_holders/GPPH\ staff.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mission-side h1 {
  text-transform: uppercase;
}
.slider-div-black {
  margin: 10px 0;
}
#mission-side li {
  margin-bottom: 20px;
  color: #98908b;
  padding: 0 20px;
}
#vision-side {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

#core-values {
  display: grid;
  grid-template-columns: 50% 50%;
}
.img-box-3 {
  height: 700px;
  width: 100%;
  background-image: url(../images/3_holders/GPPH\ STAFF-S.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#CV {
  background-color: #e0dfde;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#CV h1 {
  text-transform: uppercase;
}
#CV li {
  list-style-type: disc;
  color: black;
  margin-bottom: 20px;
  margin-left: 30px;
}
